.tableContainer {
	padding: 20px;
}

.waste-table {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

thead {
	background-color: #0c461c;
	color: white;
}

tbody tr:hover {
	background-color: #1d7020;
}

.detailsBtn {
	background-color: #0c602f;
	border: none;
	padding: 5px 10px;
	font-size: 14px;
	&:hover {
		background-color: #00b306;
	}
}
