@use '/src/index.scss' as *;

.footer {
	background-color: #3c6d40;
	color: #fff;
	padding: 20px 0;
	text-align: center;
	font-family: $main-font;
	margin: 3rem 0 0;
	font-size: 1.2rem;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 20px;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 15px;
		}
	}

	.nav-links {
		display: flex;
		gap: 15px;

		a {
			display: inline-block;
			text-decoration: none;
			color: $main-color;
			transition: color 0.3s ease, font-size 0.2s ease;

			&:hover {
				color: #34db74;
				font-size: 1.3rem;
			}
		}
	}

	.socials {
		display: flex;
		gap: 20px;

		a {
			color: #ddd;
			text-decoration: none;
			transition: color 0.3s ease;

			&:hover {
				color: #1abc9c;
			}
		}

		@media (max-width: 768px) {
			justify-content: center;
		}
	}

	.bottomBar {
		margin-top: 20px;
		font-size: 0.875rem;
		font-weight: 400;

		strong {
			font-weight: 600;
			color: #fff;
		}
	}
}
