* {
	margin: 0;
	padding: 0;
}

$main-color: #126d30;
$main-font: 'Open Sans', sans-serif;

.cta:link,
.cta:visited {
	display: inline-block;
	background-color: white;
	color: $main-color;
	font-family: $main-font;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 1rem 3rem;
}

main {
	flex: 1; // Wypełnia całą dostępną przestrzeń
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	margin: 0; // Usunięcie marginesów
	padding: 0;
}
